html {
  background: url('https://i.imgur.com/YmBebBb.jpg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Shadows Into Light', cursive;
  font-size: xx-large;
  font-weight: bolder;
}

.App {
  text-align: center;
}

nav a {
  padding: 10px;
  align-items: center;
  height: 5em;
  color: whitesmoke;
}

header {
  background-color: #022605;
  display: flex;
  height: 8vh;
  justify-content: flex-start;
  align-items: center;
  font-size: larger;
  color: white;
}
