.park-card {
  border: 1px solid black;
  margin: 20px;
  width: 30%;
  height: 400px;
  background-color: rgba(205, 199, 192, 0.7);
}

@media screen and (max-width:700px){
  .park-card{
    width: 60%;
  }
}
.parkcard-img-container {
  width: 100%;
  height: 50%;
  margin-bottom: 5%;
}

.card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid black;
}

.card--button {
  margin: 16px;
  font-size: 1.2rem;
  background-color: #AD0000;
  color: white;
  border: 1px solid #AD0000;
}

.card--details {
  height: 50%;
  width: 100%;
}

.card--name {
  font-size: 1.8rem;
  margin: 0;
}

.card--location {
  font-size: 1.2rem;
  margin: 0;
}
