.park-card {
    border: 1px solid black;
    margin: 25px;
}

.card--image {
border-radius: 25px;
width: 80%;
margin-top: 25px;
}

.card--button {
    margin-bottom: 25px;
    font-size: 1.2rem;
    background-color: red;
    color: white;
    border: 1px solid red;
}